//global signals
NET "clk_fpga" LOC = V10; 
NET "clk_fpga" PERIOD = 10.0ns HIGH 50%;

//reset signal (note this is tied to btn_sel)
NET "reset" LOC = B8;

//VGA signals
NET "rgb[0]" LOC = U7;
NET "rgb[1]" LOC = V7;
NET "rgb[2]" LOC = N7;

NET "rgb[3]" LOC = P8;
NET "rgb[4]" LOC = T6;
NET "rgb[5]" LOC = V6;

NET "rgb[6]" LOC = R7;
NET "rgb[7]" LOC = T7;

NET "VS" LOC = P7;
NET "HS" LOC = N6;

//PMod A, DA1 connections (upper half)
#NET "sync" LOC = T12;
#NET "sclk" LOC = P11;
#NET "dout" LOC = V12; //connected to D0 on DA1

#NET "sw[0]" LOC = T10;
#NET "sw[1]" LOC = T9;
#NET "sw[2]" LOC = V9;
#NET "sw[3]" LOC = M8;
#NET "sw[4]" LOC = N8;
#NET "sw[5]" LOC = U8;
#NET "sw[6]" LOC = V8;
#NET "sw[7]" LOC = T5;
#
#//7 segment display connections
#NET "led[6]" LOC = "T17" ;
#NET "led[5]" LOC = "T18" ;
#NET "led[4]" LOC = "U17" ;
#NET "led[3]" LOC = "U18" ;
#NET "led[2]" LOC = "M14" ;
#NET "led[1]" LOC = "N14" ;
#NET "led[0]" LOC = "L14" ;
#NET "an[0]" LOC = "N16";
#NET "an[2]" LOC = "P18";
#NET "an[1]" LOC = "N15";
#NET "an[3]" LOC = "P17";
#
#NET "b_led" LOC = U16;
#
#//button constraints
#NET "btn_left" LOC = C4;
#NET "btn_right" LOC = D9;
#NET "btn_up" LOC = A8;
#NET "btn_down" LOC = C9;
#NET "btn_sel" LOC = B8;
#
#//memory constraints
#//address bus
#NET "address[0]" LOC = K18;
#NET "address[1]" LOC = K17;
#NET "address[2]" LOC = J18;
#NET "address[3]" LOC = J16;
#NET "address[4]" LOC = G18;
#NET "address[5]" LOC = G16;
#NET "address[6]" LOC = H16;
#NET "address[7]" LOC = H15;
#NET "address[8]" LOC = H14;
#NET "address[9]" LOC = H13;
#NET "address[10]" LOC = F18;
#NET "address[11]" LOC = F17;
#NET "address[12]" LOC = K13;
#NET "address[13]" LOC = K12;
#NET "address[14]" LOC = E18;
#NET "address[15]" LOC = E16;
#NET "address[16]" LOC = G13;
#NET "address[17]" LOC = H12;
#NET "address[18]" LOC = D18;
#NET "address[19]" LOC = D17;
#NET "address[20]" LOC = G14;
#NET "address[21]" LOC = F14;
#NET "address[22]" LOC = C18;
#
#//data bus
#NET "dq[0]" LOC = R13;
#NET "dq[1]" LOC = T14;
#NET "dq[2]" LOC = V14; 
#NET "dq[3]" LOC = U5;
#NET "dq[4]" LOC = V5;
#NET "dq[5]" LOC = R3;
#NET "dq[6]" LOC = T3;
#NET "dq[7]" LOC = R5;
#NET "dq[8]" LOC = N5;
#NET "dq[9]" LOC = P6;
#NET "dq[10]" LOC = P12;
#NET "dq[11]" LOC = U13;
#NET "dq[12]" LOC = V13;
#NET "dq[13]" LOC = U10;
#NET "dq[14]" LOC = R8;
#NET "dq[15]" LOC = T8;
#
#//control lines
#NET "m_oe_n" LOC = L18;
#NET "m_we_n" LOC = M16;
#NET "m_clk" LOC = R10;
#NET "m_adv_n" LOC = H18;
#NET "m_ce_n" LOC = L15;
#NET "m_ub_n" LOC = K15;
#NET "m_lb_n" LOC = K16;
#NET "m_cre" LOC = M18;
#NET "p_ce_n" LOC = L17;